# IDE
.idea

# compiled output
workshop/dist/
workshop/declarations/

# dependencies
workshop/node_modules/

# misc
workshop/.env*
workshop/.pnp*
workshop/.eslintcache
workshop/coverage/
workshop/npm-debug.log*
workshop/testem.log
workshop/yarn-error.log

# ember-try
workshop/.node_modules.ember-try/
workshop/npm-shrinkwrap.json.ember-try
workshop/package.json.ember-try
workshop/package-lock.json.ember-try
workshop/yarn.lock.ember-try

# broccoli-debug
workshop/DEBUG/
