{{page-title "Peek CSS Workshop"}}


<div class="section">
  <div class="section__header">
    Welcome to Peek's CSS Workshop!
  </div>

  <div class="section__description">
    <p>
    Please use the sidenav to navigate into different topics
    </p>
    <p>
      If you have any questions about this or any of the topics, please ping Seba
    </p>
  </div>
</div>