.demo-container {
  margin-bottom: 16px;
}

.demo-item {
  width: 100%;
  max-width: 100%;
  height: 300px;
}

.demo-item.demo-item--base {
  position: relative;
  background: #f0f0f0;
}

.demo-item.demo-item--absolute {
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: var(--color-absolute);
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.demo-item.demo-item--static {
  position: static;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  left: 20px;
  z-index: 1;
  padding: 8px;
  background: cornflowerblue;
  color: white;
}

.demo-item.demo-item--relative {
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  top: 20px;
  left: 20px;
  background: pink;
  color: white;
}

.demo-item.demo-item--sticky {
  position: sticky;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  top: 0;
  left: 0;
  background: greenyellow;
  color: black;
}

.demo-item.demo-item--fixed {
  position: fixed;
  bottom: 0;
  right: 0;

  width: auto;
  height: auto;
  background: burlywood;
  padding: 16px;
  z-index: 1;
}

.demo-item.demo-item--z-index-1 {
  position: relative;

  height: 100px;
  background: #b3d4fc;
  width: 100%;
}

.demo-item.demo-item--z-index-2 {
  position: relative;

  height: 100px;
  background: red;
  width: 50%;

  top: -30px;
}
