.demo-container {
  margin-bottom: 16px;
}

.demo-container.demo-container--flex {
  display: flex;
}

.demo-item {
  width: 100%;
  max-width: 100%;
  height: 300px;
}

.demo-item.demo-item--no-width {
  width: auto;
}

.demo-item.demo-item--block {
  display: block;
}

.demo-item.demo-item--inline {
  display: inline;
}

.demo-item.demo-item--inline-block {
  display: inline-block;
}

.demo-item.demo-item--base {
  position: relative;
  background: #f0f0f0;
}

.demo-item.demo-item--bg-a {
  background: var(--background-color-example-1);
  height: auto;
}

.demo-item.demo-item--bg-b {
  background: var(--background-color-example-2);
  height: auto;
}

.demo-item.demo-item--absolute {
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: var(--color-absolute);
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.demo-item.demo-item--static {
  position: static;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  left: 20px;
  z-index: 1;
  padding: 8px;
  background: cornflowerblue;
  color: white;
}

.demo-item.demo-item--relative {
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  top: 20px;
  left: 20px;
  background: pink;
  color: white;
}

.demo-item.demo-item--sticky {
  position: sticky;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  top: 0;
  left: 0;
  background: greenyellow;
  color: black;
}

.demo-item.demo-item--fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  background: burlywood;
  padding: 16px;
  z-index: 1;
}

.demo-item.demo-item--z-index-1 {
  position: relative;
  height: 100px;
  background: #b3d4fc;
  width: 100%;
}

.demo-item.demo-item--z-index-2 {
  position: relative;
  height: 100px;
  background: red;
  width: 50%;
  top: -30px;
}

.demo-sun-animation-container {
  overflow: hidden;
  height: 300px;
  width: 100%;
  background-color: skyblue;
}

.demo-sun-animation-container.demo-sun-animation-container--animated {
  animation: 4s linear 0s infinite alternate sky-color;
}

.demo-sun-animation {
  background-color: yellow;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1 / 1;
  margin-left: auto;
  margin-right: auto;
}

.demo-sun-animation.demo-sun-animation--animated {
  animation: 4s linear 0s infinite alternate sunset-sunrise;
}

@keyframes sky-color {
  0% {
    background-color: midnightblue;
  }

  10% {
    background-color: orangered;
  }

  50% {
    background-color: deepskyblue;
  }

  75% {
    background-color: lightskyblue;
  }

  100% {
    background-color: skyblue;
  }
}

@keyframes sunset-sunrise {
  from {
    transform: translateY(100%);
    background-color: orangered;
    filter: brightness(75%);
  }

  to {
    transform: translateY(0);
    background-color: orange;
  }
}

.layout__section--flex-demo .demo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
