.section {
  position: relative;
  z-index: calc(var(--section-z-index) - 1);
  padding: calc(var(--section-padding) + 8px);
}

.section__header {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.section__description {
  margin-bottom: 16px;
  font-size: 16px;
}

.section__controls {
}

.section__controls__title {
  margin-bottom: 8px;
  font-weight: 700;
}

.section__controls__input {
  display: flex;
  align-items: center;
  gap: 12px;
}

.section__controls__input + .section__controls__input {
  margin-top: 16px;
}

.section__controls__input label {
  min-width: 100px;
}

.section__button {
}

.section__button.section__button--active {
  font-weight: 700;
}
